/*------------------------------------------------------------
video
------------------------------------------------------------*/
.c-slide {
    text-align: left;
    margin-bottom: 47px;

    @include sp {
        margin-bottom: 0;
    }

    
}

/*
------------------------------------------------------------*/
