/*------------------------------------------------
Banner
------------------------------------------------*/

.c-banpresent {
    max-width: 1192px;
    width: 90%;
    margin: 117px auto 122px;
    @include sp {
        width: 85%;
        margin: 44px auto 49px;
    }
}

.c-banpresent:hover {
    opacity: 0.7;
}

/*------------------------------------------------
------------------------------------------------*/
